/*:root{*/
/*  --blue:#7698AD;*/
/*    --deepBlue:#536B79;*/
/*}*/
*{
    margin: 0;
    padding: 0;
}
body{
    height: 99.9vh;
    width: 100%;
    font-size: 13px;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* 密码修改 */
.info {
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
.providerAdd {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    border: none;
}
.providerAdd #userForm {

    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all .5s ease;
}
#userForm:hover {
    box-shadow: 2px 2px 2px 2px #536B79;
}
.password-common {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.password-common input {
    border: none;
    outline: none;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    height: 30px;
    width: 40%;
    font-size: 25px;
    font-weight: bold;
    color: #FFF3F8;
}
.oldPassword {
    top: 20%;
}
.newPassword {
    top: 40%;
}
.newPassword-comfirm {
    top: 60%;
}
.providerAddBtn {
    position: absolute;
    width: 60%;
    left: 50%;
    top: 80%;
    transform: translate(-50%,0);
}
.providerAddBtn input {
    width: 100%;
    height: 40px;
    border: 3px solid #FFF3F8;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF3F8;
    line-height: 40px;
    padding-bottom: 5px;
    transition: all .5s ease;
}
.providerAddBtn input:hover {
    box-shadow: 1px 2px 2px 2px #536B79;
}

/* 密码修改结束 */
/* 登录 */
#head {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #7698AD;
}
#head span {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translate(0,-50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: white;
}
#head #time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.publicHeaderR {
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(0,-50%);
}
#head #logout {
    display: inline-block;
    width: 70px;
    height: 30px;
    background-image: none;
    border: #FFFFFF solid 3px;
    margin-left: 20px;
    transition: all .5s ease;
}
#head #logout:hover{
    transform: scale(1.1);
    box-shadow: 0px 2px 2px 2px #536B79;
}
#head #logout:active{
    background-color: #ffffff;
}
.left .leftH2 {
    background-color: #C6F1F8;
}
.right {
    position: relative;
    background-color: #7698AD;
}

#welcome {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 2px #536B79;
    text-align: center;
    transition: all .5s ease-in-out;
}
#welcome:hover {
    font-size: 60px;
}
#img {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
    width: 550px;
    height: 400px;
    overflow: hidden;
}
#img img {
    width: 100%;
    height: 100%;
}
/* 登录结束 */
#car-img {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0,-50%);
    width: 48px;
    height: 38px;
    background: url("../images/car.png") 0 center no-repeat;
    background-size: cover;
}



.publicHeader{
    height: 8%;
    line-height: 48px;
    font-size: 14px;
    border: 2px solid #FFF3F8;
    box-sizing: border-box;
}
.publicHeaderR{
    float: right;
    color: #fff;
    margin-right: 50px;

}
.publicHeaderR p{
    display: inline-block;
    font-weight: bold;
}
.publicHeaderR a{
    width: 50px;
    height: 28px;
    display: inline-block;
    /*border: 1px solid #679e43;*/
    /*background: linear-gradient(to bottom,#baf076,#a2d866,#9cd055,#8dc838,#8bc93a);*/
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;

}
/*.publicHeaderR a:hover,.publicHeaderR a:active{*/
/*    border: 1px solid #192b02;*/
/*    border-radius: 4px;*/
/*    font-weight: bold;*/
/*    !*background: linear-gradient(to bottom,#70b21c,#5c9613,#47740e,#3b6209,#2b4906);*!*/
/*}*/

.publicTime{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    background: linear-gradient(to bottom,#f5f9f8,#eef2fb,#e2ecf5,#e2ecf5,#e0edf6);
    padding-left: 20px;
    color: #808589;
}
.publicTime a{
    float: right;
    margin-right: 50px;
    color: #626367;
}


.publicMian{
    display: flex;
    display: -webkit-flex;
    background: #fff;
    height: 92%;
    box-sizing: border-box;
}

#rc-img {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
    width: 550px;
    height: 400px;
    overflow: hidden;
    background: url("../images/R-C.png") 0 center no-repeat;
    background-size: cover;
}

.left{
    width: 10%;
    /*height: 520px;*/
    height: 100%;
    background-color: #7698AD;
    border: 2px solid #FFFFFF;
    border-top: none;
    box-sizing: border-box;
}
.leftH2{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin: 10px  auto;
    background: #536B79;
    box-shadow: 2px 2px 2px 2px #035384;
}
.leftH2 span{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
.span1{
    margin-right: 10px;
}
.span2{
    margin-left: 12px;
}

.list{
    font-weight: bold;
}
.list li{
    margin-top: 10px;
    height: 40px;
    line-height: 35px;
    border-bottom: 2px solid rgb(255, 255, 255) ;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color .5s ease;
}
.list li:hover{
    background-color: #ffffff;
    color: #7698AD;
    border-radius: 8px;
    border-bottom: 3px solid #536B79;
}
.list li:active, #active{
    background-color: #7698AD;
    border-radius: 4px;
}
.list a{
    color: #ffffff;
    display: inline-block;
    width: 95%;
    transition: all .5s ease;
    font-size: 17px;
    text-align: center;
}
.list li a:hover{
    color: #7698AD;
    transform: scale(1.1);
}



.right{
    width: 90%;
    box-shadow: 4px 4px 10px -8px rgba(0, 199, 199, 1.0) inset, -4px 4px 10px -8px rgba(170, 85, 127, 0.3) inset;
}

.location{
    height: 30px;
    line-height: 30px;
    border: 1px solid #e6eaf6;
    background: linear-gradient(to bottom, #fefefe,#ffffff,#f6fafd);
    color: #4a4a4a;
    padding-left: 30px;
}
.location strong{
    display: inline-block;
    padding-left: 30px;
    color: #8faeb3;
}
.location span{
    color: #2179a9;
    font-weight:  bold;
}

.search{
    height:50px;
    line-height:50px;
    background: #f6fafd;
    padding-left: 24px;
    color: #000;
}
.search input[type='text']{
    width: 200px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #7698AD;
    border-radius: 4px;
}
.search input[type='button']{
    margin-left: 20px;
    width: 100px;
    padding: 0 20px;
    height: 30px;
    /*border: 1px solid #7ba92c;*/
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    /*background:#87c212 url("../images/search.png") 10px center no-repeat;*/
}
.search input[type='button']:focus{
    outline: none;
    /*background-color: #5d8410;*/
}
.search a{
    width: 120px;
    text-align: center;
    float: right;
    margin: 10px 60px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #0c89de;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    background:#536B79 url("../images/tianjia.png") 10px center no-repeat;
    display: inline-block;
    transition: all .5s ease;
}
.search a:hover{
    transform: scale(1.1);
    font-size: 15px;
}
.search a:active{
    background-color: #FFF3F8;
}
.search span{
    margin-left: 10px;
}
.search select{
    margin: 10px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #0c89de;
    outline: none;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
    color: #035384;
}

.footer{
    width: 100%;
    height: 8%;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    background-color: #7698AD;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
}

#login-left {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 550px;
    height: 380px;
    background: url("../images/R-C.png") 0 center no-repeat;
    background-size: cover;
}

/* 用户列表 */
.right .search {
    background-color: #7698AD;
    border-bottom: 2px solid #FFF3F8;
}
.search-text {
    font-size: 20px;
    font-weight: bold;
    color: #FFF3F8;
}
.right .search #searchbutton{
    display: inline-block;
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: #FFF3F8;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    border: 2px solid #FFF3F8;
    border-radius: 5px;
    transition: all .5s ease;
}
.right .search #searchbutton:hover{
    box-shadow: 1px 1px 1px 1px #536B79;
    font-size: 18px;
}
.providerTable {
    width: 100%;
}
.firstTr{
    width: 100%;
    height: 40px;
    background-color: #536B79;
}
.firstTr th {
    color: #FFF3F8;
    font-size: 15px;
    font-weight: bold;
    border-left: 2px solid #FFF3F8;
    border-bottom: 2px solid #FFF3F8;
}
.firstTr th:nth-child(1) {
    border-left: none;
}
.search-form {
    height: 40px;
    background-color: #7698AD;
}
.search-form td {
    color: #FFF3F8;
    font-size: 15px;
    text-align: center;
    border-left: 2px solid #FFF3F8;
    border-bottom: 2px solid #FFF3F8;
}
.search-form td:nth-child(1){
    border-left: none;
}

/* 用户列表结束 */

/* 商品列表 */

#billAdd-box {
    border: 2px solid #FFF3F8;
    border-radius: 8px;
    position: relative;
    height: 75%;
    width: 30%;
    transition: all .5s ease;
}
#billAdd-box:hover {
    box-shadow: 2px 2px 2px 2px #536B79;
}
#billAdd-box .bill-common {
    position: absolute;
    width: 75%;
    left: 50%;
    transform: translate(-50%,0);
}
#billAdd-box #list-1 {
    top: 10%;
}#billAdd-box #list-2 {
     top: 20%;
 }#billAdd-box #list-3 {
      top: 30%;
  }#billAdd-box #list-4 {
       top: 40%;
   }#billAdd-box #list-5 {
        top: 50%;
    }#billAdd-box #list-6 {
         top: 60%;
     }#billAdd-box #list-7 {
          top: 70%;
          color: #FFF3F8;
          font-size: 15px;
      }
#list-7 input {
    width: 20px;
    height: 20px;
}
#list-8 {
    display: flex;
    width: 60% !important;
    justify-content: space-between;
}
#list-8 input {
    width: 100px !important;
    height: 40px !important;
}
#billAdd-box label {
    font-size: 20px;
    color: #FFF3F8;
    font-weight: bold;
}
#billAdd-box input {
    height: 25px;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    border: 2px solid #FFF3F8;
    background-color: rgba(0,0,0,0);
}



/* 商品列表结束 */

/* 用户添加 */

#userAdd-box {
    border: 2px solid #FFF3F8;
    border-radius: 8px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    height: 80%;
    width: 30%;
    transition: all .5s ease;
    overflow: hidden;
}

#userAdd-box:hover{
    box-shadow: 2px 2px 2px 2px #536B79;
}
#userAdd-box .user-common {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 70%;
    color: #FFF3F8;
    font-weight: 700;
    font-size: 15px;
}
#userAdd-box .user-common input{
    outline: none;
    border: 2px solid #FFF3F8;
    box-shadow: 0 0 0 0 #FFFFFF;
    height: 20px;
    border-radius: 5px;
    color: #FFF3F8;
    background-color: rgba(0,0,0,0);
}
#userAdd-box #uList-1 {
    top: 8%;
}#userAdd-box #uList-2 {
     top: 16%;
 }#userAdd-box #uList-3 {
      top: 24%;
  }#userAdd-box #uList-4 {
       top: 32%;
   }#userAdd-box #uList-5 {
        top: 40%;
    }#userAdd-box #uList-6 {
         top: 48%;
     }#userAdd-box #uList-7 {
          top: 56%;
      }#userAdd-box #uList-8{
           top: 64%;
       }#userAdd-box #uList-9{
            top: 72%;
        }#userAdd-box #uList-10{
             top: 83%;
             display: flex;
             height: 40px;
             justify-content: space-around;
         }
#uList-5 select {
    height: 25px;
    width: 55px;
    text-align: center;
    color: #7698AD;
    font-weight: bold;
    outline: none;
}
#uList-9 select {
    height: 25px;
    width: 55px;
    text-align: center;
    color: #7698AD;
    font-weight: bold;
    outline: none;
}
#uList-10 input {
    width: 120px;
    height: 100% !important;
    line-height: 40px;
}

/* 用户添加结束 */


/* 供应商添加 */
#providerAdd-box {
    height: 70%;
    width: 30%;
    border: 2px solid #FFF3F8;
    border-radius: 10px;
    transition: all .5s ease;
}
#providerAdd-box:hover {
    box-shadow: 2px 2px 2px 2px #536B79;
}
.provider-common {
    position: absolute;
    left: 50%;
    width: 60%;
    transform: translate(-50%,0);
    color: #FFF3F8;
    font-weight: 700;
    font-size: 15px;
}
.provider-common input {
    outline: none;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #FFF3F8;
    height: 20px;
    color: #FFF3F8;
}
#pList-1 {
    top: 10%;
}#pList-2{
     top: 20%;
 }#pList-3{
      top: 30%;
  }#pList-4{
       top: 40%;
   }#pList-5{
        top: 50%;
    }#pList-6{
         top: 60%;
     }#pList-7{
          top: 70%;
      }#pList-8{
           top: 83%;
           display: flex;
           justify-content: space-between;
           width: 60%;
           height: 40px;
       }
#pList-8 input {
    width: 100px;
    height: 100%;
}
/* 供应商添加结束 */



/* view */
#view {
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 30%;
    border-radius: 10px;
    border: 2px solid #FFF3F8;
    transition: all .5s ease;
}
#view:hover {
    box-shadow: 2px 2px 2px 2px #536B79;
}
#view p {
    color: #FFF3F8;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 13px;
}
#view #view-button {
    margin-top: 20px !important;
}
/* view结束 */

/* 删除框 */
.zhezhao{
    height: 50px;
    width: 100%;
    background-color: #536B79;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #FFF3F8;
}
.remove {
    width: 50%;
    height: 100%;
    color: #FFF3F8;
}
.remove a{
    display: inline-block;
    height: 25px;
    color: #FFF3F8;
    border: 1px solid #FFF3F8;
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
    width: 60px;
    padding: 10px auto;
    transition: all .5s ease;
}
.removerChid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.removerChid h2 {
    padding: 0 10px;
}
.removeMain {
    display: flex;
    line-height: 25px;
    background-color: #536B79;
    width: 300px;
    height: 25px;
}
.removeMain p{
    color: #780000;
}
.remove a{
    margin-left: 10px;
}
.remove  #yes:hover {
    font-size: 15px;
    color: #900000;
}
.remove #no:hover{
    font-size: 15px;
    color: #3D4F1B;
}



/* 删除框结束 */


