/* 供应商添加 */
#providerAdd-box {
    height: 70%;
    width: 30%;
    border: 2px solid #FFF3F8;
    border-radius: 10px;
    transition: all .5s ease;
}
#providerAdd-box:hover {
    box-shadow: 2px 2px 2px 2px #536B79;
}
.provider-common {
    position: absolute;
    left: 50%;
    width: 60%;
    transform: translate(-50%,0);
    color: #FFF3F8;
    font-weight: 700;
    font-size: 15px;
}
.provider-common input {
    outline: none;
    border-radius: 3px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #FFF3F8;
    height: 20px;
    color: #FFF3F8;
}
#pList-1 {
    top: 10%;
}#pList-2{
     top: 20%;
 }#pList-3{
      top: 30%;
  }#pList-4{
       top: 40%;
   }#pList-5{
        top: 50%;
    }#pList-6{
         top: 60%;
     }#pList-7{
          top: 70%;
      }#pList-8{
           top: 83%;
           display: flex;
           justify-content: space-between;
           width: 60%;
           height: 40px;
       }
#pList-8 input {
    width: 100px;
    height: 100%;
}
/* 供应商添加结束 */